http_interactions:
- request:
    method: get
    uri: http://data.techno-science.ca/api/3/action/package_show?id=34d60b13-1fd5-430e-b0ec-c8bc7f4841cf
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      X-CKAN-API-Key: 705dc6d4-1f67-4825-9e12-b5cfdcc68f4e
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"help": "Return the metadata of a dataset (package) and its resources.\n\n    :param
        id: the id or name of the dataset\n    :type id: string\n    :param use_default_schema:
        use default package schema instead of\n        a custom schema defined with
        an IDatasetForm plugin (default: False)\n    :type use_default_schema: bool\n\n    :rtype:
        dictionary\n\n    ", "success": true, "result": {"license_title": "Open Government
        Licence - Canada", "maintainer": "", "relationships_as_object": [], "private":
        false, "maintainer_email": "", "revision_timestamp": "2014-10-28T21:05:48.096900",
        "id": "34d60b13-1fd5-430e-b0ec-c8bc7f4841cf", "metadata_created": "2014-10-28T18:12:11.453636",
        "metadata_modified": "2016-06-13T20:06:50.014352", "author": "", "author_email":
        "", "state": "active", "version": "", "creator_user_id": "27778230-2e90-4818-9f00-bbf778c8fa09",
        "type": "dataset", "resources": [{"resource_group_id": "ea8533d9-cdc6-4e0e-97b9-894e06d50b92",
        "cache_last_updated": null, "revision_timestamp": "2016-06-13T20:05:16.818800",
        "webstore_last_updated": null, "id": "be2b0af8-24a8-4a55-8b30-89f5459b713a",
        "size": null, "state": "active", "hash": "", "description": "XML Dataset",
        "format": "XML", "tracking_summary": {"total": 0, "recent": 0}, "last_modified":
        null, "url_type": null, "mimetype": null, "cache_url": null, "name": "Artifact
        Data - Vacuum Tubes (XML)", "created": "2014-10-28T18:13:22.240393", "url":
        "http://source.techno-science.ca/datasets-donnees/artifacts-artefacts/groups-groupes/Vacuum-Tubes-en.xml",
        "webstore_url": null, "mimetype_inner": null, "position": 0, "revision_id":
        "5bcfbac8-2d08-4671-82f3-eee41d535702", "resource_type": null}, {"resource_group_id":
        "ea8533d9-cdc6-4e0e-97b9-894e06d50b92", "cache_last_updated": null, "revision_timestamp":
        "2014-11-04T02:59:50.567068", "webstore_last_updated": null, "id": "7d65910e-4bdc-4f06-a213-e24e36762767",
        "size": null, "state": "active", "hash": "", "description": "Data dictionary
        for CSTMC artifact datasets.", "format": "XLS", "tracking_summary": {"total":
        15, "recent": 1}, "last_modified": null, "url_type": null, "mimetype": null,
 [...]
- request:
    method: get
    uri: http://data.techno-science.ca/api/3/action/package_show?id=34d60b13-1fd5-430e-b0ec-c8bc7f4841cf&use_default_schema=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      X-CKAN-API-Key: 705dc6d4-1f67-4825-9e12-b5cfdcc68f4e
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"help": "Return the metadata of a dataset (package) and its resources.\n\n    :param
        id: the id or name of the dataset\n    :type id: string\n    :param use_default_schema:
        use default package schema instead of\n        a custom schema defined with
        an IDatasetForm plugin (default: False)\n    :type use_default_schema: bool\n\n    :rtype:
        dictionary\n\n    ", "success": true, "result": {"owner_org": "fafa260d-e2bf-46cd-9c35-34c1dfa46c57",
        "maintainer": "", "relationships_as_object": [], "private": false, "maintainer_email":
        "", "revision_timestamp": "2014-10-28T21:05:48.096900", "id": "34d60b13-1fd5-430e-b0ec-c8bc7f4841cf",
        "metadata_created": "2014-10-28T18:12:11.453636", "metadata_modified": "2016-06-13T20:06:50.014352",
        "author": "", "author_email": "", "state": "active", "version": "", "license_id":
        "ca-ogl-lgo", "type": "dataset", "resources": [{"resource_group_id": "ea8533d9-cdc6-4e0e-97b9-894e06d50b92",
        "cache_last_updated": null, "revision_timestamp": "2016-06-13T20:05:16.818800",
        "webstore_last_updated": null, "id": "be2b0af8-24a8-4a55-8b30-89f5459b713a",
        "size": null, "state": "active", "hash": "", "description": "XML Dataset",
        "format": "XML", "tracking_summary": {"total": 0, "recent": 0}, "mimetype_inner":
        null, "url_type": null, "mim[...]
